/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  padding: 20px;
  background-image: #fff;
  background-size: cover; /* Ukuran gambar akan menutupi seluruh elemen */
  background-repeat: no-repeat; /* Gambar tidak akan diulang */
  background-position: center; /* Gambar akan diposisikan di tengah */
}

.containerFlex {
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
}

.con-left {
  width: 50%;
}

.con-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 5%;
}

.con-right img {
  max-width: 80%;
  height: 80%;
  border-radius: 10px;
}

.con-right h2 {
  margin-top: 20px;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: left;
  margin-left: 35%;
  margin-top: 10%;
}

.login-container h2 {
  margin-bottom: 20px;
  margin-left: 40%;
}

.login-container form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-container button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 5px;
}

input[name="keyword"] {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 100px;
}

input[type="submit"] {
  background-color: #00b6ef;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  color: #00b6ef;
  border: 2px solid #00b6ef;
}

.btn-back {
  background-color: #ffffff;
  color: #00b6ef;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #00b6ef;
  width: 100%;
}

.btn-back:hover {
  background-color: #00b6ef;
  color: #ffff;
}

.form-group input[type="file"] {
  display: none;
}
.form-group img {
  max-width: 100%;
  margin-top: 10px;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.con-center {
  text-align: center;
  width: 100%;
}
.container img {
  display: block;
  margin: 0 auto;
  max-width: 25%;
  height: auto;
}
.container h1 {
  margin-top: 30px 0;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: center; /* Align text to center horizontally */
  vertical-align: middle; /* Align text to center vertically */
}

th {
  background-color: #f2f2f2;
}

img {
  max-width: 300px;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00b6ef;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}
.button:hover {
  background-color: #333;
}
.button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.button-add {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border-radius: 5px solid #fff;
  border-radius: 5px;
  background-color: #00b6ef;
  box-shadow: 0 2px #999;
  margin-top: 2%;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease; /* Transisi yang mulus */
}
.button-add:hover {
  background-color: #fff;
  color: #00b6ef;
}
.button-add:active {
  background-color: #00b6ef;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.button-back {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  border-radius: 5px;
  background-color: #3e8e41;
  box-shadow: 0 2px #999;
  margin-top: 2%;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease; /* Transisi yang mulus */
}

.button-back:hover {
  background-color: white;
  color: #3e8e41;
}

.button-back:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.button.dipinjam {
  background-color: #00b6ef;
}

.button.dipinjam:hover {
  background-color: #333;
}

.button.dipinjam:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info .label {
  font-weight: bold;
  flex: 0 0 100px;
  text-align: left;
}

.info .value {
  flex: 1;
  text-align: left;
}

.description {
  text-align: justify;
}

input {
  border-radius: 5px solid black;
}

.value input {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.table-container {
  max-height: 400px; /* Tinggi maksimum kontainer tabel */
  overflow-y: auto; /* Scroll secara vertikal */
  border: 1px solid #ccc; /* Opsional: memberi border pada kontainer */
}

table {
  width: 100%; /* Lebar tabel penuh dalam kontainer */
  border-collapse: collapse; /* Menghapus jarak antara sel tabel */
}

thead th {
  background-color: #333; /* Warna latar belakang putih untuk header */
  position: sticky; /* Membuat header tetap di atas saat di-scroll */
  top: 0; /* Memastikan header tetap di bagian atas */
  z-index: 1; /* Memberikan lapisan z-index agar header tetap di atas */
  border: 1px solid #ddd; /* Border untuk header */
  padding: 8px; /* Padding untuk sel header */
  color: #fff;
}

tbody td {
  border: 1px solid #ddd; /* Border untuk sel tubuh tabel */
  padding: 8px; /* Padding untuk sel tubuh tabel */
  background-color: white;
}
